<div class="row">
  <div class="col-md-6">
    <app-card cardTitle="Future Goals" [options]="false" *ngIf="grid">
      <app-apex-chart chartID="radial-bar-chart-2-cac" [chartConfig]="this.chartDB.radialBar2CAC"></app-apex-chart>
    </app-card>
  </div>
  <div class="col-xl-6">
    <app-card cardTitle="Create Future Goal" [options]="false">
      <form action="javascript:" [formGroup]="goalForm">
        <div class="form-group">
          <label for="username">Desciption:</label>
          <input
            formControlName="goal_name"
            type="text"
            class="form-control"
            id="goal_name"
            required
            placeholder=""
            name="goal_name"
          />
        </div>
        <div class="form-row">
          <div class="form-group" class="col-xl-6">
            <label for="username">Duration From:</label>
            <input
              formControlName="goal_fromDate"
              type="date"
              class="form-control"
              id="fromdate"
              required
              placeholder=""
              name="fromdate"
            />
          </div>
          <div class="form-group" class="col-xl-6">
            <label for="username">Duration To:</label>
            <input
              formControlName="goal_toDate"
              type="date"
              class="form-control"
              id="todate"
              required
              placeholder=""
              name="todate"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="username">Amount:</label>
          <input
            formControlName="goal_amount"
            type="text"
            class="form-control"
            id="goal_amount"
            required
            placeholder=""
            name="goal_amount"
          />
        </div>
        <div class="form-group">
          <label for="username">Notes:</label>
          <input
            formControlName="goal_note"
            type="text"
            class="form-control"
            id="goal_note"
            required
            placeholder="Optional"
            name="goal_note"
          />
        </div>
        <div class="checkbox">
          <label><input type="hidden" name="remember" type="hidden" /> </label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="create()">
          Save
        </button>
      </form>
    </app-card>
  </div>
</div>
