<div class="row" *ngIf="dashboadType">
  <!-- conversion-section start -->
  <div class="col-sm-12">
    <div class="row no-gutters">
      <div class="col-md-4 col-xl-3 col-sm-6">
        <app-card [hidHeader]="true">
          <span>Income</span>
          <h3>{{sumInc}}</h3>
          <app-apex-chart
            chartID="analytics-apex-user-chart"
            [chartConfig]="this.chartDB.userAACC"
          >
          </app-apex-chart>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-3 col-sm-6">
        <app-card [hidHeader]="true">
          <span>Expenses</span>
          <h3 >{{sumExp}}</h3>
          <app-apex-chart
            chartID="analytics-apex-session-chart"
            [chartConfig]="this.chartDB.sessionAACC"
          >
          </app-apex-chart>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-3 col-sm-6">
        <app-card [hidHeader]="true">
          <span>Billing</span>
          <h3>{{sumBill}}</h3>
          <app-apex-chart
            chartID="analytics-apex-page-view-chart"
            [chartConfig]="this.chartDB.pageViewAACC"
          >
          </app-apex-chart>
        </app-card>
      </div>
      <div class="col-md-4 col-xl-3 col-sm-6">
        <app-card [hidHeader]="true">
          <span>Account Balance</span>
          <h3>{{accounts}}</h3>
          <app-apex-chart
            chartID="analytics-apex-page-session-chart"
            [chartConfig]="this.chartDB.pageSessionAACC"
          >
          </app-apex-chart>
        </app-card>
      </div>
    </div>
  </div>
  <!-- conversion-section end -->

  <!-- account-section start -->
  <div class="col-xl-12">
    <app-card cardTitle="Budget" [options]="false">
      <app-apex-chart
        chartID="area-chart-1-cac"
        [chartConfig]="this.chartDB.area1CAC"
      ></app-apex-chart>
    </app-card>
  </div>
  <div class="col-xl-4"></div>
  <!-- account-section end -->
</div>
