<div class="row">
  <div class="col-md-6" *ngIf="incomegrid">
    <app-card [hidHeader]="true">
      <div class="row">
        <div class="col-12">
          <button
            class="bbtn btn-danger btn-sm float-right"
            (click)="viewAdd()"
          >
            Go to add
          </button>
        </div>
      </div>
    </app-card>
    <app-card cardTitle="" [options]="false">
      <table class="table table-responsive">
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let item of incomeData">
          <td>{{ item.date }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.des }}</td>
          <td>
            <button
              type="submit"
              class="bbtn btn-danger"
              (click)="deleteData(item.id)"
            >
              Delete
            </button>
          </td>
          <td>
            <button
              type="submit"
              class="bbtn btn-primary"
              (click)="getIncomeData(item.id)"
            >
              Update
            </button>
          </td>
        </tr>
      </table>
    </app-card>
  </div>
  <div class="col-md-6" *ngIf="addIncomeForm">
    <app-card cardTitle="Income" [options]="false">
      <form action="javascript:" [formGroup]="incomeForm">
        <div class="form-group">
          <label for="username">Desciption:</label>
          <input
            [ngClass]="{ err: incomeForm.controls.income_des.invalid && incomeForm.controls.income_des.touched }"
            formControlName="income_des"
            type="text"
            class="form-control"
            id="income_des"
            required="required"
            placeholder="income"
            name="income_des"
          />
        </div>
        <div class="form-group">
          <label for="username">Date:</label>
          <input
            [ngClass]="{ err: incomeForm.controls.income_date.invalid && incomeForm.controls.income_date.touched }"
            formControlName="income_date"
            type="date"
            class="form-control"
            id="income_date"
            required="required"
            placeholder=""
            name="income_date"
          />
        </div>
        <div class="form-group">
          <label for="username">Amount:</label>
          <input
            [ngClass]="{ err: incomeForm.controls.income_amount.invalid && incomeForm.controls.income_amount.touched }"
            formControlName="income_amount"
            type="text"
            class="form-control"
            id="income_amount"
            required="required"
            placeholder=""
            name="income_amount"
          />
        </div>
        <div class="form-group">
          <label for="username">Account:</label>
          <select
            formControlName="income_account"
            class="form-control"
            name="income_account"
            id="income_account"
            required="required"
          >
            <option *ngFor="let item of accountData" value="{{ item.acc_id }}">
              {{ item.acc_no }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <input
            formControlName="income_id"
            type="hidden"
            class="form-control"
            id="income_id"
          />
        </div>
        <button
          type="submit"
          *ngIf="saveBtn"
          class="btn btn-primary"
          (click)="onSubmit()"
        >
          Save
        </button>
        <button
          type="submit"
          *ngIf="updateBtn"
          class="btn btn-primary"
          (click)="onUpdate()"
        >
          Update
        </button>
      </form>
    </app-card>
  </div>
  <div class="col-xl-6" *ngIf="incomeChart">
    <app-card [hidHeader]="true">
      <div class="row">
        <div class="col-auto">
          <h6>
            <a (click)="addgrid()" style="cursor: pointer"
              ><u>This Month Income</u></a
            >
          </h6>
        </div>
        <div class="col text-right">
          <h2 class="mb-0">{{ totalInc }}</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <h3 class="m-0">
            <i class="fas fa-circle text-success f-10 m-r-5"></i>66%
          </h3>
          <span class="ml-3">Budget</span>
        </div>
        <div class="col">
          <h3 class="m-0">
            <i class="fas fa-circle text-primary f-10 m-r-5"></i>26%
          </h3>
          <span class="ml-3">Expenses</span>
        </div>
        <div class="col">
          <h3 class="m-0">
            <i class="fas fa-circle text-danger f-10 m-r-5"></i>8%
          </h3>
          <span class="ml-3">Billing</span>
        </div>
      </div>
      <div class="progressbar-stack mt-4">
        <div
          *ngFor="let bar of deviceProgressBar"
          [ngStyle]="{ width: bar.value + '%' }"
          class="float-left"
        >
          <ngb-progressbar
            [type]="bar.type"
            height="8px"
            [value]="100"
          ></ngb-progressbar>
        </div>
      </div>
    </app-card>
  </div>
</div>
