<div
  class="auth-wrapper"
  style="
    background-image: url('assets/images/login-background/background-image1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.5);
  "
>
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img
              src="assets/images/logo-dark.png"
              alt=""
              class="img-fluid mb-4"
            />
            <h4 class="mb-3 f-w-400">Sign up</h4>
            <form action="javascript:" [formGroup]="registerForm">
              <div *ngIf="step1">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="feather icon-shield"></i
                    ></span>
                  </div>
                  <input
                    [ngClass]="{
                      err:
                        registerForm.controls.nic.invalid &&
                        registerForm.controls.nic.touched
                    }"
                    formControlName="nic"
                    type="text"
                    class="form-control"
                    placeholder="NIC or PC"
                    (blur)="userExist()"
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="feather icon-user"></i
                    ></span>
                  </div>
                  <input
                    formControlName="fname"
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                  />
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="feather icon-user"></i
                    ></span>
                  </div>
                  <input
                    formControlName="lname"
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                  />
                </div>

                <!--<div class="form-group">
                  <label for="file">Upload copy of NIC</label>
                  <input formControlName="image" type="file" id="file" />
                </div>
                -->
                <button
                  class="btn btn-primary btn-block mb-4"
                  (click)="stepper('step2')"
                >
                  Next
                </button>
              </div>
              <div *ngIf="step2">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="feather icon-mail"></i
                    ></span>
                  </div>
                  <input
                    [ngClass]="{
                      err:
                        registerForm.controls.email.invalid &&
                        registerForm.controls.email.touched
                    }"
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email address"
                    (blur)="emailExist()"
                    required
                  />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="feather icon-lock"></i
                    ></span>
                  </div>
                  <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="feather icon-lock"></i
                    ></span>
                  </div>
                  <input
                    formControlName="repassword"
                    type="password"
                    class="form-control"
                    placeholder="Re enter Password"
                    (blur)="checkPassword()"
                  />
                </div>
                <button
                  class="btn btn-primary btn-block mb-4"
                  (click)="createUser()"
                >
                  Submit
                </button>
              </div>
            </form>
            <form action="javascript:" [formGroup]="verifyForm">
              <div *ngIf="step3">
                <div class="input-group mb-3">
                  <div class="row">
                    <div class="col-xl-3">
                      <input
                        formControlName="key1"
                        type="text"
                        (keyup)="key2.focus()"
                        class="form-control"
                        placeholder=""
                        maxlength="1"
                      />
                    </div>
                    <div class="col-xl-3">
                      <input
                        #key2
                        formControlName="key2"
                        type="text"
                        (keyup)="key3.focus()"
                        class="form-control"
                        placeholder=""
                        maxlength="1"
                      />
                    </div>
                    <div class="col-xl-3">
                      <input
                        #key3
                        formControlName="key3"
                        type="text"
                        (keyup)="key4.focus()"
                        class="form-control"
                        placeholder=""
                        maxlength="1"
                      />
                    </div>
                    <div class="col-xl-3">
                      <input
                        formControlName="key4"
                        #key4
                        type="text"
                        (change)="verifyNumbers()"
                        class="form-control"
                        placeholder=""
                        maxlength="1"
                      />
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-primary btn-block mb-4"
                  (click)="varifyUser()"
                >
                  Singup
                </button>
              </div>
            </form>
            <p class="mb-2">
              Already have an account?
              <a [routerLink]="['/signin']" class="f-w-400">Signin</a>
            </p>
            <p class="mb-2">
              verify Account ?
              <button (click)="getverify()">Verify</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
