<div class="row">
  <div class="col-md-6" *ngIf="expensegrid">
    <app-card [hidHeader]="true">
      <div class="row">
        <div class="col-12">
          <button
            class="bbtn btn-danger btn-sm float-right"
            (click)="viewAdd()"
          >
            Go to add
          </button>
        </div>
      </div>
    </app-card>
    <app-card cardTitle="" [options]="false">
      <table class="table table-responsive">
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let item of expenseData">
          <td>{{ item.date }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.des }}</td>
          <td>
            <button
              type="submit"
              class="bbtn btn-danger"
              (click)="deleteData(item.id)"
            >
              Delete
            </button>
          </td>
          <td>
            <button
              type="submit"
              class="bbtn btn-primary"
              (click)="getExpenseData(item.id)"
            >
              Update
            </button>
          </td>
        </tr>
      </table>
    </app-card>
  </div>

  <!-- account-section start -->
  <div class="col-xl-6" *ngIf="addExpenseForm">
    <app-card cardTitle="Expenses" [options]="false">
      <form action="javascript:" [formGroup]="expensesForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="expenses">Sub Category:</label>
            <select
              [ngClass]="{
                err:
                  expensesForm.controls.expen_category.invalid &&
                  expensesForm.controls.expen_category.touched
              }"
              formControlName="expen_category"
              class="form-control"
              name="catog"
              id="catog"
              required="required"
            >
              <option *ngFor="let item of catData" value="{{ item.id }}">
                {{ item.des }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="date">Date:</label>
            <input
              [ngClass]="{
                err:
                  expensesForm.controls.expen_date.invalid &&
                  expensesForm.controls.expen_date.touched
              }"
              formControlName="expen_date"
              type="date"
              class="form-control"
              id="date"
              required="required"
              placeholder=""
              name="date"
              [ngModel]="date | date:'yyyy-MM-dd'"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input
            [ngClass]="{
              err:
                expensesForm.controls.expen_amount.invalid &&
                expensesForm.controls.expen_amount.touched
            }"
            formControlName="expen_amount"
            type="text"
            class="form-control"
            id="amount"
            required="required"
            placeholder="Amount"
            name="amount"
          />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="expenses">Pay From:</label>
            <select
              [ngClass]="{
                err:
                  expensesForm.controls.expen_account.invalid &&
                  expensesForm.controls.expen_account.touched
              }"
              formControlName="expen_account"
              class="form-control"
              name="account"
              id="account"
              required="required"
            >
              <option
                *ngFor="let item of accountData"
                value="{{ item.acc_id }}"
              >
                {{ item.acc_no }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="payee">Payee:</label>
            <select
              formControlName="expen_payee"
              class="form-control"
              name="payee"
              id="payee"
              required="required"
            >
              <option *ngFor="let item of payeeData" value="{{ item.id }}">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="note">Notes:</label>
          <input
            formControlName="expen_note"
            type="text"
            class="form-control"
            id="note"
            required=""
            placeholder="Optional"
            name="note"
          />
        </div>
        <div class="form-group">
          <input type="hidden" class="form-control" #divId />
        </div>
        <div class="form-group">
          <input
            formControlName="expen_id"
            type="hidden"
            class="form-control"
            id="expen_id"
          />
        </div>
        <button type="submit" *ngIf="saveBtn" class="btn btn-primary" (click)="onSubmit();">
          Save
        </button>
        <button
          type="submit"
          *ngIf="updateBtn"
          class="btn btn-primary"
          (click)="onUpdate(divId)"
        >
          Update
        </button>
        <button type="submit" class="btn btn-primary" (click)="clear(divId)">
          Clear
        </button>
      </form>
    </app-card>
    <div class="col-xl-4 col-md-6">
      <app-ui-modal #myPersistenceModal [containerClick]="false">
        <div class="app-modal-header">
          <h5 class="modal-title">WARNING !</h5>
          <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="myPersistenceModal.hide()"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="app-modal-body">
          <p>Yor are exceed your Last month Expense amount {{amount}}</p>
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="myPersistenceModal.hide();onSubmit();">Wish to Process</button>
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="myPersistenceModal.hide()">Got It</button>
        </div>
      </app-ui-modal>
  </div>
  </div>
  <div class="col-xl-6" *ngIf="expenseChart">
    <app-card [hidHeader]="true">
      <div class="row">
        <div class="col-auto">
          <h6>
            <a (click)="addgrid()"><u>This Month Expense</u></a>
          </h6>
        </div>
        <div class="col text-right">
          <h2 class="mb-0">{{ totalExp }}</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <h3 class="m-0">
            <i class="fas fa-circle text-success f-10 m-r-5"></i>66%
          </h3>
          <span class="ml-3">Budget</span>
        </div>
        <div class="col">
          <h3 class="m-0">
            <i class="fas fa-circle text-primary f-10 m-r-5"></i>26%
          </h3>
          <span class="ml-3">Expenses</span>
        </div>
        <div class="col">
          <h3 class="m-0">
            <i class="fas fa-circle text-danger f-10 m-r-5"></i>8%
          </h3>
          <span class="ml-3">Billing</span>
        </div>
      </div>
      <div class="progressbar-stack mt-4">
        <div
          *ngFor="let bar of deviceProgressBar"
          [ngStyle]="{ width: bar.value + '%' }"
          class="float-left"
        >
          <ngb-progressbar
            [type]="bar.type"
            height="8px"
            [value]="100"
          ></ngb-progressbar>
        </div>
      </div>
    </app-card>
    <app-card [hidHeader]="true">
      <div class="row align-items-start">
        <div class="col">
          <h2 class="mb-0"></h2>
        </div>
        <div class="col-auto text-right">
          <h6 class="">Expenses</h6>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-6">
          <span class="d-block"
            ><i class="fas fa-circle text-c-green f-10 m-r-10"></i>HouseRent</span
          >
          <span class="d-block"
            ><i class="fas fa-circle text-c-red f-10 m-r-10"></i>Utilities</span
          >
          <span class="d-block"
            ><i class="fas fa-circle text-c-blue f-10 m-r-10"></i>Food</span
          >
        </div>
        <div class="col-sm-6">
          <span class="d-block"
            ><i class="fas fa-circle text-c-yellow f-10 m-r-10"></i>Entertainment
            </span
          >
          <span class="d-block"
            ><i class="fas fa-circle text-c-purple f-10 m-r-10"></i>Car/Adio
            </span
          >
        </div>
      </div>

      <div class="progress mt-3" style="height: 20px">
        <div
          class="progress-bar badge-light-success rounded"
          role="progressbar"
          style="width: 30%"
          aria-valuenow="30"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          24%
        </div>
        <div
          class="progress-bar badge-light-danger rounded"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          12%
        </div>
        <div
          class="progress-bar badge-light-primary rounded"
          role="progressbar"
          style="width: 20%"
          aria-valuenow="20"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          10%
        </div>
        <div
          class="progress-bar badge-light-warning rounded"
          role="progressbar"
          style="width: 15%"
          aria-valuenow="15"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          8%
        </div>
        <div
          class="progress-bar badge-light-info rounded"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="25"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          35%
        </div>
      </div>
    </app-card>

  </div>
  <!-- account-section end -->
</div>
