<div class="row">
  <div class="col-xl-7">
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-10">
          <app-card cardTitle="Account" [options]="false">
            <form action="javascript:" [formGroup]="accountForm">
              <div class="form-group">
                <label for="expenses">Account Name:</label>
                <input
                  formControlName="account_name"
                  type="text"
                  class="form-control"
                  id="account_name"
                  required="required"
                  placeholder="Account Name"
                  name="account_name"
                />
              </div>
              <div class="form-group">
                <label for="amount">Account No:</label>
                <input
                  formControlName="account_no"
                  type="text"
                  class="form-control"
                  id="account_no"
                  required="required"
                  placeholder="Account Number"
                  name="account_no"
                />
              </div>
              <div class="form-group">
                <label for="note">Account pamodhi:</label>
                <input
                  formControlName="account_balance"
                  type="text"
                  class="form-control"
                  id="account_balance"
                  required=""
                  placeholder="Account Balance"
                  name="account_balance"
                />
              </div>
              <div class="form-group">
                <label for="note">Currency:</label>
                <input
                  formControlName="currency"
                  type="text"
                  class="form-control"
                  id="currency"
                  required=""
                  placeholder="Currency"
                  name="currency"
                />
              </div>
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
            </form>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
