<div>
  <app-card [hidHeader]="true" (click)="grid1load()">
    <div>
      <span>Budget</span>
    </div>
    <div *ngIf="grid1_daterange">
    <form action="javascript:" [formGroup]="gridForm">
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="expenses">From :</label>
          <input
            formControlName="from_date"
            type="date"
            class="form-control"
            id="date"
            required="required"
            placeholder=""
            name="date"
          />
        </div>
        <div class="form-group col-md-5">
          <label for="date">To :</label>
          <input
            formControlName="to_date"
            type="date"
            class="form-control"
            id="date"
            required="required"
            placeholder=""
            name="date"
          />
        </div>
        <button
                type="submit"
                class="btn btn-primary"
                (click)="getGridiData()"
              >
                Process
        </button>
      </div>
    </form>
    </div>
    <div>
      <div class="col-xl-12" *ngIf="grid1">
        <app-card>
          <div class="table-responsive">
            <table class="table table-striped">
            <tr>
              <th>Date</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Type</th>
            </tr>
            <tr *ngFor="let item of gridData">
              <td>{{ item.date }}</td>
              <td>{{ item.des }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.type }}</td>
            </tr>
          </table>
        </div>
        </app-card>
      </div>
    </div>
  </app-card>
  <app-card [hidHeader]="true" (click)="grid2load()">
    <div>
      <span>Account Transaction</span>
    </div>
    <div *ngIf="grid2_daterange">
      <form action="javascript:" [formGroup]="gridForm2">
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="expenses">From :</label>
            <input
              formControlName="from_date"
              type="date"
              class="form-control"
              id="date"
              required="required"
              placeholder=""
              name="date"
            />
          </div>
          <div class="form-group col-md-3">
            <label for="date">To :</label>
            <input
              formControlName="to_date"
              type="date"
              class="form-control"
              id="date"
              required="required"
              placeholder=""
              name="date"
            />
          </div>
          <div class="form-group" class="form-group col-md-3">
            <label for="username">Account:</label>
            <select
              formControlName="account"
              class="form-control"
              name="account"
              id="account"
              required="required"
            >
              <option *ngFor="let item of accountData" value="{{ item.acc_id }}">
                {{ item.acc_no }}
              </option>
            </select>
          </div>
          <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="getGridiData2()"
                >
                  Process
          </button>
        </div>
      </form>
      </div>
      <div>
        <div class="col-xl-12" *ngIf="grid2">
          <app-card>
            <div class="table-responsive">
              <table class="table table-striped">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Balance</th>
              </tr>
              <tr *ngFor="let item of gridData2">
                <td>{{ item.date }}</td>
                <td>{{ item.des }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.balance }}</td>
              </tr>
            </table>
          </div>
        </app-card>
      </div>
    </div>
  </app-card>

  <app-card [hidHeader]="true" (click)="grid3load()">
    <span>Expence Details</span>
    <div *ngIf="grid3_daterange">
      <form action="javascript:" [formGroup]="gridForm3">
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="expenses">From :</label>
            <input
              formControlName="from_date"
              type="date"
              class="form-control"
              id="date"
              required="required"
              placeholder=""
              name="date"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="date">To :</label>
            <input
              formControlName="to_date"
              type="date"
              class="form-control"
              id="date"
              required="required"
              placeholder=""
              name="date"
            />
          </div>
          <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="getGridiData3()"
                >
                  Process
          </button>
        </div>
      </form>
      </div>
      <div>
        <div class="col-xl-12" *ngIf="grid3">
          <app-card>
            <div class="table-responsive">
              <table class="table table-striped">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
              </tr>
              <tr *ngFor="let item of gridData3">
                <td>{{ item.date }}</td>
                <td>{{ item.des }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.type }}</td>
              </tr>
            </table>
          </div>
        </app-card>
      </div>
    </div>
  </app-card>
  <app-card [hidHeader]="true" (click)="grid4load()">
    <span>Income Details</span>
    <div *ngIf="grid4_daterange">
      <form action="javascript:" [formGroup]="gridForm4">
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="expenses">From :</label>
            <input
              formControlName="from_date"
              type="date"
              class="form-control"
              id="date"
              required="required"
              placeholder=""
              name="date"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="date">To :</label>
            <input
              formControlName="to_date"
              type="date"
              class="form-control"
              id="date"
              required="required"
              placeholder=""
              name="date"
            />
          </div>
          <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="getGridiData4()"
                >
                  Process
          </button>
        </div>
      </form>
      </div>
      <div>
        <div class="col-xl-12" *ngIf="grid4">
          <app-card>
            <div class="table-responsive">
              <table class="table table-striped">
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
              </tr>
              <tr *ngFor="let item of gridData4">
                <td>{{ item.date }}</td>
                <td>{{ item.des }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.type }}</td>
              </tr>
            </table>
          </div>
        </app-card>
      </div>
    </div>
  </app-card>
</div>
