<div class="page-content page-container" id="page-content">
  <div class="padding">
      <div class="row container d-flex justify-content-center">
          <div class="col-xl-12 col-md-12">
              <div class="card user-card-full">
                  <div class="row m-l-0 m-r-0">
                      <div class="col-sm-4 bg-c-lite-green user-profile">
                          <div class="card-block text-center text-white">
                              <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                              <h6 class="f-w-600">{{userName}}</h6>
                              <p>{{profession}}</p>
                          </div>
                      </div>
                      <div class="col-sm-8" *ngIf="userDetails">
                          <div class="card-block">
                              <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                              <div class="row">
                                  <div class="col-sm-6">
                                      <p class="m-b-10 f-w-600">Email</p>
                                      <h6 class="text-muted f-w-400">{{email}}</h6>
                                  </div>
                                  <div class="col-sm-6">
                                      <p class="m-b-10 f-w-600">NIC</p>
                                      <h6 class="text-muted f-w-400">{{nic}}</h6>
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Profession</p>
                                    <h6 class="text-muted f-w-400">{{prof}}</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600">Currency</p>
                                    <h6 class="text-muted f-w-400">{{curncy}}</h6>
                                </div>
                            </div>
                          </div>
                          <div class="col-sm-8" *ngIf="userForm">

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
