<div class="row">
  <div [ngClass]="payeerClass">
    <div class="container-fluid">
      <div class="row content">
        <div class="col-md-12">
          <!--<app-card cardTitle="Payee" [options]="false">
            <div class="row">
              <div class="col-md-10 col-10">
                <form action="javascript:" [formGroup]="payee">
                  <div class="form-group">
                    <select
                      formControlName="payeeName"
                      class="form-control"
                      id="payeeName"
                      required="required"
                    >
                      <option
                        *ngFor="let item of payeeData"
                        value="{{ item.id }}"
                      >
                        {{ item.name }}
                      </option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="col-md-2 col-2">
                <button
                  type="submit"
                  class="btn btn-primary float-left"
                  (click)="addPayeer()"
                >
                  +
                </button>
              </div>
            </div>
          </app-card>-->
        </div>
        <div class="col-xl-12">
          <!--<app-card cardTitle="" blockClass="table-border-style" [options]="false">
            <div class="table-responsive">
              <table class="table table-striped">
              <tr>
                <th>Date</th>
                <th>Account</th>
                <th>Description</th>
                <th>Amount</th>
              </tr>
              <tr *ngFor="let item of userData">
                <td>{{ item.date }}</td>
                <td>{{ item.account }}</td>
                <td>{{ item.ses }}</td>
                <td>{{ item.amount }}</td>
              </tr>
            </table>
          </div>
          </app-card>-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-5" *ngIf="addPayeerForm">
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-10">
          <app-card cardTitle="Create Payee" [options]="false">
            <form action="javascript:" [formGroup]="payeeForm">
              <div class="form-group">
                <label for="expenses">Name</label>
                <input
                  formControlName="payee_name"
                  type="text"
                  class="form-control"
                  id="payee_name"
                  required="required"
                  placeholder="Payee Name"
                  name="payee_name"
                />
              </div>
              <div class="form-group">
                <label for="amount">Account:</label>
                <input
                  formControlName="payee_account"
                  type="text"
                  class="form-control"
                  id="payee_account"
                  required="required"
                  placeholder="Account Number"
                  name="payee_account"
                />
              </div>
              <div class="form-group">
                <label for="phone">Phone:</label>
                <input
                  formControlName="payee_phone"
                  type="text"
                  class="form-control"
                  id="payee_phone"
                  required="required"
                  placeholder="Phone Number"
                  name="payee_phone"
                />
              </div>
              <div class="form-group">
                <label for="phone">Email:</label>
                <input
                  formControlName="payee_email"
                  type="text"
                  class="form-control"
                  id="payee_email"
                  required="required"
                  placeholder="Email Address"
                  name="payee_email"
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                (click)="onSubmit()"
              >
                Save
              </button>
            </form>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
