<div class="auth-wrapper"  style="
background-image: url('assets/images/login-background/background-image1.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
-webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.5);
box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.5);
">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12" *ngIf="accverify">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Verify Your Account</h4>
            <form action="javascript:" [formGroup]="resetForm">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="feather icon-mail"></i></span>
                </div>
                <input
                      [ngClass]="{err:resetForm.controls.email.invalid && resetForm.controls.email.touched }"
                      formControlName="email"
                      type="email"
                      class="form-control"
                      placeholder="Email address"
                      required
                      (blur)="getOTPCode()"
                    />
              </div>
            </form>
            <form action="javascript:" [formGroup]="otpForm">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="feather icon-lock"></i></span>
                </div>
                <input
                      [ngClass]="{err:otpForm.controls.otpCode.invalid && otpForm.controls.otpCode.touched }"
                      formControlName="otpCode"
                      type="text"
                      class="form-control"
                      placeholder="OTP Code"
                      required
                    />
              </div>
            </form>
            <button class="btn btn-block btn-primary mb-4" (click)="verifyOTP()">Reset password</button>
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']" class="f-w-400">Signup</a></p>
          </div>
        </div>
          <div class="col-md-12" *ngIf="newPass">
            <div class="card-body">
              <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
              <h4 class="mb-3 f-w-400">Reset your password</h4>
              <form action="javascript:" [formGroup]="newPassForm">
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="feather icon-eye"></i></span>
                  </div>
                  <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="feather icon-eye"></i></span>
                  </div>
                  <input

                    type="repassword"
                    class="form-control"
                    placeholder="Re enter Password"
                  />
                </div>
              </form>
              <button class="btn btn-block btn-primary mb-4" (click)="resetPassword()">Submit</button>
              <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']" class="f-w-400">Signup</a></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

