<div class="row">
    <!-- conversion-section start -->
   <!-- <div class="col-sm-12">
        <div class="row no-gutters">
            <div class="col-md-4 col-xl-4 col-sm-6">
                <app-card [hidHeader]="true">
                    <span>Total Income</span>
                    <h3>10000</h3>
                    <app-apex-chart chartID="analytics-apex-user-chart" [chartConfig]="this.chartDB.userAACC">
                    </app-apex-chart>
                </app-card>
            </div>
            <div class="col-md-4 col-xl-4 col-sm-6">
                <app-card [hidHeader]="true">
                    <span>Expenses</span>
                    <h3>4000</h3>
                    <app-apex-chart chartID="analytics-apex-session-chart" [chartConfig]="this.chartDB.sessionAACC">
                    </app-apex-chart>
                </app-card>
            </div>
            <div class="col-md-4 col-xl-4 col-sm-6">
                <app-card [hidHeader]="true">
                    <span>Billing</span>
                    <h3>2000</h3>
                    <app-apex-chart chartID="analytics-apex-page-view-chart" [chartConfig]="this.chartDB.pageViewAACC">
                    </app-apex-chart>
                </app-card>
            </div>
        </div>
    </div>-->
    <!-- conversion-section end -->

    <!-- account-section start -->
    <div class="col-xl-6">
      <app-card cardTitle="Add Bill" [options]="false">
        <form action="javascript:" [formGroup]="expensesForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="expenses">Sub Category:</label>
              <select
                [ngClass]="{err:expensesForm.controls.expen_category.invalid && expensesForm.controls.expen_category.touched}"
                formControlName="expen_category"
                class="form-control"
                name="catog"
                id="catog"
                required="required"
              >
                <option *ngFor="let item of catData" value="{{ item.id }}">
                  {{ item.des }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="date">Due On:</label>
              <input
                [ngClass]="{err:expensesForm.controls.expen_date.invalid && expensesForm.controls.expen_date.touched}"
                formControlName="expen_date"
                type="date"
                class="form-control"
                id="date"
                required="required"
                placeholder=""
                name="date"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input
              [ngClass]="{err:expensesForm.controls.expen_amount.invalid && expensesForm.controls.expen_amount.touched}"
              formControlName="expen_amount"
              type="text"
              class="form-control"
              id="amount"
              required="required"
              placeholder="Amount"
              name="amount"
            />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="account">Pay From:</label>
              <select
              [ngClass]="{err:expensesForm.controls.expen_account.invalid && expensesForm.controls.expen_account.touched}"
              formControlName="expen_account"
              class="form-control"
              name="account"
              id="account"
              required="required"
            >
              <option *ngFor="let item of accountData" value="{{ item.acc_id }}">
                {{ item.acc_no }}
              </option>
            </select>
            </div>
            <div class="form-group col-md-6">
              <label for="payee">Payee:</label>
              <select
              [ngClass]="{err:expensesForm.controls.expen_payee.touched}"
              formControlName="expen_payee"
              class="form-control"
              name="payee"
              id="payee"
              required="required"
            >
              <option *ngFor="let item of payeeData" value="{{ item.id }}">
                {{ item.name }}
              </option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label for="note">Notes:</label>
            <input
              formControlName="expen_note"
              type="text"
              class="form-control"
              id="note"
              required=""
              placeholder="Optional"
              name="note"
            />
          </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">
            Save
          </button>
        </form>
      </app-card>
    </div>
    <div class="col-xl-6">
      <app-card cardTitle="" [options]="false">
        <table class="table table-responsive">
          <tr>
            <th>Due Date</th>
            <th>Created Date</th>
            <th>Amount</th>
          </tr>
          <tr *ngFor="let item of billData">
            <td>{{ item.dueDate }}</td>
            <td>{{ item.createDate }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.des }}</td>
            <td>
              <button
                type="submit"
                class="bbtn btn-danger"
                (click)="deleteData(item.id)"
              >
                Reject
              </button>
            </td>
            <td>
              <button
                type="submit"
                class="bbtn btn-primary"
                (click)="payBill(item.id)"
              >
                pay
              </button>
            </td>
          </tr>
        </table>
      </app-card>
    </div>
    <!-- account-section end -->
</div>
