<div class="col-xl-6">
    <form >
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input
          formControlName="subject"
          type="text"
          class="form-control"
          id="subject"
          required="required"
          placeholder=""
          name="amount"
        />
      </div>
      <div class="form-group">
        <label for="message">Message:</label><br>
        <textarea
          class="form-control"
          id=""
          rows="5">
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary" onclick="create();">
        Send
      </button>
    </form>
</div>
