<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="" blockClass="table-border-style" [options]="false">
      <div class="table-responsive">
        <table class="table table-striped">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>NIC</th>
        <th>Email</th>
        <th>Profession</th>
        <th>Cureency</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of userData">
        <td>{{ item.fName }}</td>
        <td>{{ item.lName }}</td>
        <td>{{ item.nic }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.prof }}</td>
        <td>{{ item.crncy }}</td>
        <td>
          <a class="btn btn-success" (click)="approve(item.userId)">Approve</a>
          <a class="btn btn-danger" (click)="reject(item.userId)">Reject</a>
        </td>
      </tr>
    </table>
  </div>
  </app-card>
  </div>
  <div class="col-md-3">

  </div>
</div>
