<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
      <h5 class="mb-3"></h5>
      <ngb-tabset>
        <ngb-tab title="CREATE GROUP">
          <ng-template ngbTabContent>
            <div class="col-xl-4">
              <form action="javascript:" [formGroup]="groupCreateForm">
                <div class="form-group">
                  <label for="date">Group Name:</label>
                    <input
                    formControlName="gr_name"
                    type="text"
                    class="form-control"
                    required="required"
                    placeholder=""
                    name="gr_name"
                  />
                </div>
                <div class="form-group">
                  <label for="subject">Group Code:</label>
                  <input
                    formControlName="gr_code"
                    type="text"
                    class="form-control"
                    required="required"
                    placeholder=""
                    name="groupcode"
                  />
                </div>
                <div class="form-group">
                  <label for="subject">Description:</label>
                  <input
                    formControlName="gr_des"
                    type="text"
                    class="form-control"
                    required="required"
                    placeholder=""
                    name="gr_des"
                  />
                </div>

                <button type="submit" class="btn btn-primary" (click)="createGroup();">
                  Create Group
                </button>
              </form>
          </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="ADD FAMILY">
          <ng-template ngbTabContent>
            <div class="col-xl-6">
              <form action="javascript:" [formGroup]="addFamilyForm">
                <div class="form-group">
                  <label for="date">Email:</label>
                    <input
                    formControlName="gremail"
                    type="email"
                    class="form-control"
                    required="required"
                    placeholder=""
                  />
                </div>
                <div class="form-group">
                <label for="date">Code:</label>
                <input
                    formControlName="grid"
                    type="text"
                    class="form-control"
                    required="required"
                    placeholder=""
                    name="grid"
                  />
                </div>
                <div class="form-group">
                  <label for="date">Name:</label>
                  <input
                    formControlName="grname"
                    type="text"
                    class="form-control"
                    required="required"
                    placeholder=""
                    name="grname"
                  />
                  </div>
               <!-- <div class="form-group">
                  <label for="subject">Group:</label>
                  <select
                    formControlName="gr_id"
                    class="form-control"
                    name="income_account"
                    id="income_account"
                    required="required"
                  >
                  <option *ngFor="let item of groupData" value="{{ item.acc_id }}">
                    {{ item.acc_no }}
                  </option>
                  </select>
                </div>-->
                <button type="submit" class="btn btn-primary" (click)="addGroup();">
                  Send Request
                </button>
              </form>
          </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="GRANT ACCESS">
          <ng-template ngbTabContent>
            <div class="col-md-6">
              <app-card cardTitle="" [options]="false">
                <table class="table table-responsive">
                  <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let item of transData">
                    <td>{{ item.date }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.des }}</td>
                    <td>
                      <button
                        type="submit"
                        class="bbtn btn-primary"
                        (click)="grant(item.id)"
                      >
                        Access
                      </button>
                    </td>
                  </tr>
                </table>
              </app-card>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="JOIN GROUP">
          <ng-template ngbTabContent>
            <div class="col-xl-4">
              <form action="javascript:" [formGroup]="joinGropForm">
                <div class="form-group">
                  <label for="date">Group Name:</label>
                    <input
                    formControlName="group_name"
                    type="text"
                    class="form-control"
                    required="required"
                    placeholder=""
                    name="group_name"
                  />
                </div>
                <div class="form-group">
                  <label for="subject">Group Code:</label>
                  <input
                    formControlName="group_code"
                    type="text"
                    class="form-control"
                    id="subject"
                    required="required"
                    placeholder=""
                    name="group_code"
                  />
                </div>
                <button type="submit" class="btn btn-primary" (click)="addMembertoGroup();">
                  Join Group
                </button>
              </form>
          </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="GROUP TRANSACTION">
          <ng-template ngbTabContent>
            <div class="col-md-6">
              <app-card cardTitle="" [options]="false">
                <table class="table table-responsive">
                  <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let item of groupTransactionData">
                    <td>{{ item.date }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.des }}</td>
                    <td>
                      <button
                        type="submit"
                        class="bbtn btn-danger"
                        (click)="grant(item.id)"
                      >
                        OK
                      </button></td>
                  </tr>
                </table>
              </app-card>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </app-card>
  </div>
