.btn-primary{
  background-color: #300723 !important;
  border-color: #300723 !important;
}
.makeRed{
  border: 1px solid red !important;
}

.err {
  border-color: red;
}
/*.back{
background-image:url('assets/images/login-background/background-image1.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.5);
box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.5);
}*/
