<div
  class="auth-wrapper"
  style="
    background-image: url('assets/images/login-background/background-image1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.5);
  "
>
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img
              src="assets/images/logo-dark.png"
              alt=""
              class="img-fluid mb-4"
            />
            <h6 class="mb-3 f-w-400">Signin</h6>
            <form action="javascript:" [formGroup]="userForm">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="feather icon-user"></i
                  ></span>
                </div>
                <input
                [ngClass]="{ err: userForm.controls.userEmail.invalid && userForm.controls.userEmail.touched }"
                  formControlName="userEmail"
                  type="email"
                  class="form-control"
                  placeholder="User Email"
                  required="true"
                />
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="feather icon-lock"></i>
                  </span>
                </div>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
            </form>
            <button class="btn btn-block btn-primary mb-4" (click)="login()">
              Signin
            </button>
            <p class="mb-2 text-muted">
              Forgot password?
              <a [routerLink]="['/reset-password']" class="f-w-400">Reset</a>
            </p>
            <p class="mb-0 text-muted">
              Don’t have an account?
              <a [routerLink]="['/signup']" class="f-w-400">Signup</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
